
/* Styles General */

:root {
  // PRIMARY COLORS
  --night-out: #000000;
  --off-white: #fafcfb;
  --lil-gray: #e6eaed;
  --nude: #eae9e8;
  // SECONDARY COLORS
  --gray: #cacabe;
  --blue: #818f96;
  --sky: #cce6ed;
}

* {
  box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'HV Fitzgerald';
  font-weight: bold;
}

p, span, a, button {
  font-family: 'Public Sans';
}

body {
  font-size: 1rem;
  background-color: #fafcfb;
}

.btn {
  --btn-border-color: transparent;
  --btn-text-color: rgb(86, 86, 86);
  --btn-bg: transparent;

  display: inline-block;
  text-decoration: none;
  padding: 12px 24px;
  border: 1px solid var(--btn-border-color);
  background-color: var(--btn-bg);
  font-weight: 400;
  color: var(--btn-text-color);
  transition: ease-in-out 0.25s;

  &--primary {
    --btn-border-color: #818f96;
    --btn-text-color: white;
    --btn-bg: #818f96;

    &:hover {
      --btn-border-color: #cacabe;
      --btn-bg: #cacabe;
      --btn-text-color: #fafcfb;
    }

    &-outline {
      --btn-border-color: black;
      --btn-bg: white;
      --btn-text-color: black;

      &:hover {
        --btn-border-color: #cacabe;
        --btn-bg: transparent;
        --btn-text-color: #cacabe;
      }
    }
  }

  &--ghost {
    --btn-border-color: transparent;
    --btn-text-color: black;
    --btn-bg: transparent;

    &:hover {
      --btn-text-color: #cacabe;
    }
  }
}
/* //Styles General */

@mixin resetMargin {
  margin: 0;
}

/* Container */

.manjon-container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;

  @media (min-width: 900px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 10px;
  }

  &__content {}

  &__information {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media (min-width: 900px) {
      font-size: 24px;
    }
  }

  &-subtitle {
    @include resetMargin();
    font-weight: 700;
    font-size: 1rem;
    line-height: 30px;
  }

  &-title {
    @include resetMargin();
    font-weight: bold;
    font-size: 32px;
    line-height: 120%;
    color: #818f96;

    @media (min-width: 900px) {
      font-size: 40px;
    }
  }

  &-text {
    @include resetMargin();
    font-weight: 400;
    font-size: 1rem;
    line-height: 150%;
    color: #cacabe;
  }

  &__wrapper {
    display: flex;
    flex-flow: row wrap;
    gap: 24px;
    margin: 24px 0;
  }

  &__block {
    @media (min-width: 768px) {
      max-width: 296px;
    }

    &-title {
      @include resetMargin();
      font-weight: bold;
      font-size: 18px;
      line-height: 140%;
      color: #818f96;

      @media (min-width: 900px) {
        font-size: 20px;
      }
    }

    &-text {
      @include resetMargin();
      font-weight: 400;
      font-size: 14px;
      line-height: 150%;
      color: #cacabe;
    }
  }

  &__picture {
    width: 100%;
    height: 100%;

    &-img {
      width: 100%;
      height: 100%;
    }
  }
}



/* tabs */

.manjon-container-tabs {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  position: relative;
  overflow-x: hidden;

  @media (min-width: 900px) {
    display: grid;
    grid-template-areas: "tabs images";
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1rem;
  }

  &--reverse {
    @media (min-width: 900px) {
      grid-template-areas: "images tabs";
    }
  }

  &__blocks {
    display: flex;
    flex-direction: column;
    grid-area: tabs;
    gap: 24px;

    &-item {
      --tab-item-height: 0%;

      display: flex;
      flex-direction: column;
      gap: 0.25rem;
      position: relative;
      padding: 0 2rem;

      &:hover {
        cursor: pointer;
      }

      &::before {
        content: "";
        width: 4px;
        height: var(--tab-item-height);
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        margin: auto;
        background-color: #cce6ed;
        transition: ease-in-out 0.25s;
      }

      &:hover::before {
        height: 100%;
      }

      &--show {
        --tab-item-height: 100%;
      }

      &-title {
        @include resetMargin();
        font-weight: bold;
        font-size: 24px;
        line-height: 140%;
        color: #818f96;

        @media (min-width: 900px) {
          font-size: 32px;
          line-height: 130%;
        }
      }

      &-text {
        @include resetMargin();
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #cacabe;
      }
    }
  }

  &__pictures {
    grid-area: images;
    position: relative;
    overflow: hidden;
    height: 100%;
    padding-top: 1.25rem;

    @media (min-width: 900px) {
      padding-top: 0;
    }

    &-img {
      width: 100%;
      height: 0;
      // aspect-ratio: auto;
      opacity: 0;
      transition: opacity ease-in-out 0.5s;

      &--show {
        opacity: 1;
        height: 100%;
      }
    }
  }
}

/* Grid Collections */

.manjon-grid-collections {
  max-width: 1440px;
  height: max-content;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0 auto;
  padding: 1rem;
  overflow: hidden;

  @media (min-width: 600px) {
    max-height: 60dvh;
    height: 600px;
    display: grid;
    grid-template-areas:
      "first secondary"
      "first terciary";
  }

  &__card {
    width: 100%;
    min-height: 100%;
    display: block;
    position: relative;
    overflow: hidden;
    grid-area: secondary;

    &:hover > &-img {
      animation: animateAmbient 30s linear infinite;
    }

    @media (min-width: 1024px) {
      &:hover > &__content {
        opacity: 1;
      }
    }

    &:first-child {
      grid-area: first;
    }

    &:last-child {
      grid-area: terciary;
    }

    &-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      aspect-ratio: 4/3;
      transition: ease-in-out 0.25s;
    }

    &__content {
      width: 100%;
      overflow: hidden;
      display: flex;
      position: absolute;
      bottom: 0px;
      left: 0;
      padding: 0.4rem 0;
      z-index: 2;
      background: rgb(202, 202, 190);
      background: linear-gradient(
        103deg,
        rgba(202, 202, 190, 0.5) 12%,
        rgba(129, 143, 150, 0.5) 100%
      );

      transition: ease-in-out 0.5s;
      backdrop-filter: blur(20px);

      @media (min-width: 1024px) {
        opacity: 0;
      }
    }

    &-title {
      @include resetMargin();
      line-height: 200%;
      font-size: 1.5rem;
      margin-left: 1rem;
      color: #fafcfb;
    }
  }
}

@keyframes animateAmbient {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(2);
  }
}

/* Faqs */

.manjon-faqs {
  max-width: 600px;
  width: 100%;
  height: max-content;
  display: grid;
  gap: 48px;
  margin: 0 auto;
  padding: 1rem;

  &-title {
    @include resetMargin();
    font-weight: bold;
    font-size: 36px;
    line-height: 120%;
    color: #000000;
  }

  &-text {
    font-weight: bold;
    font-size: 1rem;
    line-height: 150%;
    color: #000000;
    margin-bottom: 0;
  }

  &__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__item {
    &__box {
      width: 100%;
      border: 1px solid var(--night-out);
      padding: 1rem;
      background-color: transparent;
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;
    }

    &-title {
      @include resetMargin();
      font-weight: bold;
      font-size: 1rem;
      line-height: 150%;
      color: var(--night-out);
    }

    &__content {
      padding: 0;
      border: 1px solid var(--night-out);
      border-top: none;

      animation-name: collapseAnimation;
      animation-duration: 0.25s;
      animation-fill-mode: forwards;

      & > * {
        @include resetMargin();
        opacity: 0;
        transition: opacity ease-in-out 1s;
      }

    }

    &--expand &__content {
      animation-name: expandAnimation;
      animation-duration: 0.25s;
      animation-fill-mode: forwards;

      
      & > * {
        opacity: 1;
      }
    }
  }

  &__cta-contact {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &-title {
      @include resetMargin();
      font-weight: bold;
      font-size: 1rem;
      line-height: 150%;
      color: var(--night-out); 
      
      @media (min-width: 900px) {
        font-size: 32px;
        line-height: 130%;
      }
    }

    &-text {
      @include resetMargin();
      font-weight: 400;
      font-size: 1rem;
      line-height: 150%;
      color: var(--night-out); 
      
      @media (min-width: 900px) {
        font-size: 18px;
        line-height: 150%;
      }
    }

    &-btn {
      width: fit-content;
    }
  }
}

@keyframes collapseAnimation {
  0% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    opacity: 1;
    height: auto;
    padding: 1rem;
  }
  100% {
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    opacity: 0;
    height: 0;
  }
}

@keyframes expandAnimation {
  0% {
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    opacity: 0;
    height: 0;
  }
  100% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    opacity: 1;
    height: auto;
    padding: 1rem;
  }
}
