/* Styles General */

:root {
  // PRIMARY COLORS
  --night-out: #000000;
  --off-white: #fafcfb;
  --lil-gray: #e6eaed;
  --nude: #eae9e8;

  // SECONDARY COLORS
  --gray: #cacabe;
  --blue: #818f96;
  --sky: #cce6ed;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Recline Bold';
  font-weight: bold;
}

p,
span,
a,
button {
  font-family: "Public Sans";
}

body {
  font-size: 1rem;
  background-color: #fff;
}

.btn {
  --btn-border-color: transparent;
  --btn-text-color: rgb(86, 86, 86);
  --btn-bg: transparent;

  display: inline-block;
  text-decoration: none;
  padding: 12px 24px;
  border: 1px solid var(--btn-border-color);
  background-color: var(--btn-bg);
  font-weight: 400;
  color: var(--btn-text-color);
  transition: ease-in-out 0.25s;

  &--primary {
    --btn-border-color: #818f96;
    --btn-text-color: white;
    --btn-bg: #818f96;

    &:hover {
      --btn-border-color: #cacabe;
      --btn-bg: #cacabe;
      --btn-text-color: #fafcfb;
    }

    &-outline {
      --btn-border-color: black;
      --btn-bg: white;
      --btn-text-color: black;

      &:hover {
        --btn-border-color: #cacabe;
        --btn-bg: transparent;
        --btn-text-color: #cacabe;
      }
    }
  }

  &--ghost {
    --btn-border-color: transparent;
    --btn-text-color: black;
    --btn-bg: transparent;

    &:hover {
      --btn-text-color: #cacabe;
    }
  }
}
/* //Styles General */

@mixin resetMargin {
  margin: 0;
}

/* Container */

.manjon-container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;

  @media (min-width: 900px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
  }

  &__content {
  }

  &__information {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media (min-width: 900px) {
      font-size: 24px;
    }
  }

  &-subtitle {
    @include resetMargin();
    font-weight: 700;
    font-size: 1rem;
    line-height: 30px;
  }

  &-title {
    @include resetMargin();
    font-weight: bold;
    font-size: 32px;
    line-height: 120%;
    color: #818f96;

    @media (min-width: 900px) {
      font-size: 40px;
    }
  }

  &-text {
    @include resetMargin();
    font-weight: 400;
    font-size: 1rem;
    line-height: 150%;
    color: #cacabe;
  }

  &__wrapper {
    display: flex;
    flex-flow: row wrap;
    gap: 24px;
    margin: 24px 0;
  }

  &__block {
    @media (min-width: 768px) {
      max-width: 296px;
    }

    &-title {
      @include resetMargin();
      font-weight: bold;
      font-size: 18px;
      line-height: 140%;
      color: #818f96;

      @media (min-width: 900px) {
        font-size: 20px;
      }
    }

    &-text {
      @include resetMargin();
      font-weight: 400;
      font-size: 14px;
      line-height: 150%;
      color: #cacabe;
    }
  }

  &__picture {
    width: 100%;
    height: 100%;

    &-img {
      width: 100%;
      height: 100%;
    }
  }
}

/* tabs */

.manjon-container-tabs {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  position: relative;
  overflow-x: hidden;

  @media (min-width: 900px) {
    display: grid;
    grid-template-areas: "tabs images";
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1rem;
  }

  &--reverse {
    @media (min-width: 900px) {
      grid-template-areas: "images tabs";
    }
  }

  &__blocks {
    display: flex;
    flex-direction: column;
    grid-area: tabs;
    gap: 24px;

    &-item {
      --tab-item-height: 0%;

      display: flex;
      flex-direction: column;
      gap: 0.25rem;
      position: relative;
      padding: 0 2rem;

      &:hover {
        cursor: pointer;
      }

      &::before {
        content: "";
        width: 4px;
        height: var(--tab-item-height);
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        margin: auto;
        background-color: #cce6ed;
        transition: ease-in-out 0.25s;
      }

      &:hover::before {
        height: 100%;
      }

      &--show {
        --tab-item-height: 100%;
      }

      &-title {
        @include resetMargin();
        font-weight: bold;
        font-size: 24px;
        line-height: 140%;
        color: #818f96;

        @media (min-width: 900px) {
          font-size: 32px;
          line-height: 130%;
        }
      }

      &-text {
        @include resetMargin();
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #cacabe;
      }
    }
  }

  &__pictures {
    grid-area: images;
    position: relative;
    overflow: hidden;
    height: 100%;
    padding-top: 1.25rem;

    @media (min-width: 900px) {
      padding-top: 0;
    }

    &-img {
      width: 100%;
      height: 0;
      // aspect-ratio: auto;
      opacity: 0;
      transition: opacity ease-in-out 0.5s;

      &--show {
        opacity: 1;
        height: 100%;
      }
    }
  }
}

/* Grid Collections */

.manjon-grid-collections {
  max-width: 1440px;
  height: max-content;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0 auto;
  padding: 1rem;
  overflow: hidden;

  @media (min-width: 600px) {
    max-height: 60dvh;
    height: 600px;
    display: grid;
    grid-template-areas:
      "first secondary"
      "first terciary";
  }

  &__card {
    width: 100%;
    min-height: 100%;
    display: block;
    position: relative;
    overflow: hidden;
    grid-area: secondary;

    &:hover > &-img {
      animation: animateAmbient 30s linear infinite;
    }

    @media (min-width: 1024px) {
      &:hover > &__content {
        opacity: 1;
      }
    }

    &:first-child {
      grid-area: first;
    }

    &:last-child {
      grid-area: terciary;
    }

    &-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      aspect-ratio: 4/3;
      transition: ease-in-out 0.25s;
    }

    &__content {
      width: 100%;
      overflow: hidden;
      display: flex;
      position: absolute;
      bottom: 0px;
      left: 0;
      padding: 0.4rem 0;
      z-index: 2;
      background: rgb(202, 202, 190);
      background: linear-gradient(
        103deg,
        rgba(202, 202, 190, 0.5) 12%,
        rgba(129, 143, 150, 0.5) 100%
      );

      transition: ease-in-out 0.5s;
      backdrop-filter: blur(20px);

      @media (min-width: 1024px) {
        opacity: 0;
      }
    }

    &-title {
      @include resetMargin();
      line-height: 200%;
      font-size: 1.5rem;
      margin-left: 1rem;
      color: #fafcfb;
    }
  }
}

@keyframes animateAmbient {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(2);
  }
}

/* Faqs */

.manjon-faqs {
  max-width: 600px;
  width: 100%;
  height: max-content;
  display: grid;
  gap: 48px;
  margin: 0 auto;
  padding: 1rem;

  &-title {
    @include resetMargin();
    font-weight: bold;
    font-size: 36px;
    line-height: 120%;
    color: #000000;
  }

  &-text {
    font-weight: bold;
    font-size: 1rem;
    line-height: 150%;
    color: #000000;
    margin-bottom: 0;
  }

  &__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__item {
    &__box {
      width: 100%;
      border: 1px solid var(--night-out);
      padding: 1rem;
      background-color: transparent;
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;
    }

    &-title {
      @include resetMargin();
      font-weight: bold;
      font-size: 1rem;
      line-height: 150%;
      color: var(--night-out);
    }

    &__content {
      padding: 0;
      border: 1px solid var(--night-out);
      border-top: none;

      animation-name: collapseAnimation;
      animation-duration: 0.25s;
      animation-fill-mode: forwards;

      & > * {
        @include resetMargin();
        opacity: 0;
        transition: opacity ease-in-out 1s;
      }
    }

    &--expand &__content {
      animation-name: expandAnimation;
      animation-duration: 0.25s;
      animation-fill-mode: forwards;

      & > * {
        opacity: 1;
      }
    }
  }

  &__cta-contact {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &-title {
      @include resetMargin();
      font-weight: bold;
      font-size: 1rem;
      line-height: 150%;
      color: var(--night-out);

      @media (min-width: 900px) {
        font-size: 32px;
        line-height: 130%;
      }
    }

    &-text {
      @include resetMargin();
      font-weight: 400;
      font-size: 1rem;
      line-height: 150%;
      color: var(--night-out);

      @media (min-width: 900px) {
        font-size: 18px;
        line-height: 150%;
      }
    }

    &-btn {
      width: fit-content;
    }
  }
}

@keyframes collapseAnimation {
  0% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    opacity: 1;
    height: auto;
    padding: 1rem;
  }
  100% {
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    opacity: 0;
    height: 0;
  }
}

@keyframes expandAnimation {
  0% {
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    opacity: 0;
    height: 0;
  }
  100% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    opacity: 1;
    height: auto;
    padding: 1rem;
  }
}

/* Custom Slider */

.manjon-slider {
  --slider-controls-opacity: 0;
  --slider-hight-sm: 100dvh;
  --slider-hight-md: 100dvh;
  --slider-hight-lg: 100dvh;
  width: 100%;
  height: var(--slider-hight-sm);
  overflow: hidden;

  @media (min-width: 768px) {
    height: var(--slider-hight-md);
  }

  @media (min-width: 1024px) {
    height: var(--slider-hight-lg);
  }

  &__wrapper {
    width: 300%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    transition: ease-in-out 0.25s;
  }

  &__item {
    --slider-item-positionX-sm: center;
    --slider-item-positionX-md: center;
    --slider-item-positionX-lg: center;

    --slider-item-positionY-sm: center;
    --slider-item-positionY-md: center;
    --slider-item-positionY-lg: center;

    width: 100%;
    height: 100%;
    background-position-x: var(--slider-item-positionX-sm);
    background-position-y: var(--slider-item-positionY-sm);
    background-size: cover;
    background-color: hwb(0 0% 100% / 0.5);
    background-blend-mode: overlay;

    @media (min-width: 768px) {
      background-position-x: var(--slider-item-positionX-md);
      background-position-y: var(--slider-item-positionY-md);
    }

    @media (min-width: 1024px) {
      background-position-x: var(--slider-item-positionX-lg);
      background-position-y: var(--slider-item-positionY-lg);
    }

    &__content {
      width: 100%;
      height: 100%;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 1rem;
      padding: 1rem;
    }

    &-title,
    &-text {
      @include resetMargin();
      opacity: 0;
      transform: translateY(10px);
    }

    &-title {
      color: #fff;
      font-size: 4.7em;
      line-height: 72px;

      @media (min-width: 900px) {
        max-width: 30ch;
      }
    }

    &-text {
      color: #dbdbdb;
      font-size: 1rem;
      line-height: 24px;

      @media (min-width: 768px) {
        max-width: 65ch;
      }
    }

    &-btn {
      width: fit-content;
      opacity: 0;
      transform: translateY(10px);
    }

    &--show > &__content {
      animation: fade-in 0.25s ease-in-out forwards;
      animation-delay: 0s;
    }

    &--show &-title {
      animation-name: showContent;
      animation-duration: 1.5s;
      animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
      animation-fill-mode: forwards;
      animation-delay: 0.5s;
    }

    &--show &-text {
      animation-name: showContent;
      animation-duration: 1.5s;
      animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
      animation-fill-mode: forwards;
      animation-delay: 1s;
    }

    &--show &-btn {
      animation-name: showContent;
      animation-duration: 1.5s;
      animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
      animation-fill-mode: forwards;
      animation-delay: 1.5s;
    }
  }

  &__controls {
    width: 100%;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 0;
    bottom: 0;
    padding: 0rem 1rem;
    margin: auto;
    opacity: var(--slider-controls-opacity, 0);
    transition: opacity ease-in-out 0.25s;

    &-prev,
    &-next {
      border: none;
      background-color: #fafcfb;
      padding: 1rem;
      border-radius: 50%;
      opacity: 0.5;

      & svg {
        width: 20px;
        height: 20px;
      }

      &:hover {
        cursor: pointer;
      }
    }

    &-prev {
      & svg {
        transform: rotate(-180deg);
      }
    }

    &:hover {
      --slider-controls-opacity: 1;
    }
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes showContent {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

/* CTA Container */

.manjon-cta-container {
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  gap: 48px;
  margin: 0 auto;
  padding: 1rem;
  position: relative;

  @media (min-width: 768px) {
    gap: 80px;
  }

  &__information {
    max-width: 768px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 0 auto;

    @media (min-width: 768px) {
      gap: 24px;
    }

    &-title,
    &-subtitle,
    &-text {
      @include resetMargin();
      text-align: center;
    }

    &-subtitle {
      font-weight: 600;
      font-size: 1rem;
      line-height: 150%;
      color: #000;
    }

    &-title {
      font-weight: bold;
      font-size: 36px;
      line-height: 120%;
      color: var(--blue);

      @media (min-width: 768px) {
        font-size: 48px;
      }
    }

    &-text {
      font-weight: 400;
      font-size: 1rem;
      line-height: 150%;
      color: var(--gray);

      @media (min-width: 768px) {
        font-size: 18px;
      }
    }
  }

  &__wrapper {
    display: grid;
    gap: 24px;

    @media (min-width: 768px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__block {
    display: flex;
    flex-direction: column;
    gap: 20px;

    &-title,
    &-text {
      @include resetMargin();
      text-align: center;
    }

    &-title {
      font-weight: bold;
      font-size: 24px;
      line-height: 140%;
      color: var(--blue);

      @media (min-width: 768px) {
        font-size: 32px;
        line-height: 130%;
      }
    }

    &-text {
      font-weight: 400;
      font-size: 1rem;
      line-height: 150%;
      color: var(--gray);
    }
  }
}

/* HEADER */

.manjon-header {
  width: 100%;
  position: fixed;
  z-index: 5;
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 1rem 2rem;
  background-color: #fff;

  &__navigation {
    &-list {
      display: flex;
      gap: 1rem;
      list-style: none;
      &-item {
        &-link {
          text-decoration: none;
          color: var(--blue);
        }
        &__mega-menu {
          width: 100%;
          display: flex;
          gap: 5rem;
          position: absolute;
          left: -100%;
          top: 3rem;
          background-color: var(--off-white);
          box-shadow: 15px 6px 9px #3333331d;
          padding: 2rem;
          z-index: -1;
          opacity: 0;
          height: -1px;

          &::before {
            content: "";
            width: 100%;
            height: 10px;
            position: absolute;
            left: 0;
            top: -3px;
            z-index: 4;
            background-color: transparent;
          }

          &__block {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;

            &-title-link {
              font-family: "HV Fitzgerald";
              font-weight: 900;
              font-size: 1.25rem;
            }

            &-link {
              color: var(--gray);
              font-size: 1rem;
              line-height: 1.25rem;
            }
          }

          &--show {
            opacity: 1;
            z-index: 4;
            height: auto;
            left: 0;
          }
        }
      }
    }
  }
}

/* GRID COLLECTIONS */

.manjon-collections {
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0 auto;
  padding: 1rem;

  &__information {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    &-title {
      @include resetMargin();
      font-weight: bold;
      font-size: 32px;
      line-height: 120%;
      color: #818f96;

      @media (min-width: 900px) {
        font-size: 40px;
      }
    }

    &-text {
      @include resetMargin();
      font-weight: 400;
      font-size: 1rem;
      line-height: 150%;
      color: #cacabe;
      max-width: 80ch;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    @media (min-width: 768px) {
      display: grid;
      grid-auto-rows: 400px;
      grid-template-areas: "primary secondary" "terciary terciary";
    }

    @media (min-width: 1024px) {
      grid-auto-rows: 500px;
      grid-template-areas: "primary secondary terciary";
    }
  }

  &__collection {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    overflow: hidden;

    &:first-child {
      grid-area: primary;
    }

    &:not(:first-child):not(:last-child) {
      grid-area: secondary;
    }

    &:last-child {
      grid-area: terciary;
    }

    &::before {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      background-color: rgba(0, 0, 0, 0.4);
    }

    &:hover > &-img,
    &:hover > &::before {
      animation: animateAmbient 30s linear infinite;
    }

    &-img {
      width: 100%;
      height: 100%;
      object-position: center;
      object-fit: cover;
      z-index: 2;
      transition: transform ease-in-out 0.25s;
    }

    &-title {
      @include resetMargin();
      position: absolute;
      bottom: 8px;
      left: 8px;
      font-family: "HV Fitzgerald";
      font-size: 2.5rem;
      color: white;
      z-index: 4;
    }
  }
}

/* PRODUCTS */

.swiper--custom {
  --swiper-navigation-color: #fff;
  --swiper-navigation-size: 1.5rem;
  max-width: 1250px;
  height: max-content;
  margin: 0 auto;
}

.manjon-products {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  position: relative;
  display: grid;
  gap: 4px;

  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(3, 1fr);
  }

  &__information {
    margin-bottom: 1rem;
    &-title {
      @include resetMargin();
      font-weight: bold;
      font-size: 32px;
      line-height: 120%;
      color: #818f96;

      @media (min-width: 900px) {
        font-size: 40px;
      }
    }

    &-text {
      @include resetMargin();
      font-weight: 400;
      font-size: small;
      line-height: 150%;
      color: #cacabe;
    }
  }

  &__product {
    --current-img: 1;
    --preview-img: 0;
    width: 100%;

    &:not(&--one-image) &-figure:hover {
      --current-img: 0;
      --preview-img: 1;
    }

    &-figure {
      width: 100%;
      height: auto;
      aspect-ratio: 16/10;
      object-fit: cover;
      position: relative;
      margin: 0;
      padding: 0;

      &-img {
        width: 100%;
        height: 100%;
        position: absolute;
        aspect-ratio: 16/9;
        transition: opacity ease-in-out 0.25s;

        &--current {
          opacity: var(--current-img);
        }

        &--preview {
          opacity: var(--preview-img);
        }
      }
    }

    &__tag {
      position: absolute;
      left: 4px;
      top: 4px;
      z-index: 3;
      padding: 4px;
      background-color: var(--blue);
      color: white;
      border-radius: 2px;
      font-size: xx-small;
      text-transform: uppercase;
      user-select: none;
    }

    &__content {
      padding: 1rem 0.5rem;

      &,
      &__information {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
      }
    }

    &-title {
      @include resetMargin();
      font-weight: bold;
      font-size: 24px;
      line-height: 140%;
      color: #818f96;

      @media (min-width: 900px) {
        font-size: 32px;
        line-height: 130%;
      }
    }

    &-text {
      @include resetMargin();
      font-weight: 400;
      font-size: 0.85rem;
      line-height: 150%;
      color: #666;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      & > * {
        @include resetMargin();
        font-weight: 400;
        font-size: 0.85rem;
        line-height: 150%;
        color: #666;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }

      &--not-limit {
        &,
        & > * {
          display: block;
          -webkit-line-clamp: unset;
          -webkit-box-orient: unset;
        }
      }
    }

    &-price {
      font-size: small;
      color: #818f96;
    }

    &-quick-shop {
      width: fit-content;
      position: relative;
      font-size: small;
      color: #818f96;
      text-decoration: none;

      &::before {
        content: "";
        width: 100%;
        height: 1px;
        position: absolute;
        bottom: -3px;
        right: 0;
        background-color: #818f96;
        @media (min-width: 1024px) {
          width: 0%;
          transition: all ease-in-out 0.25s;
        }
      }

      @media (min-width: 1024px) {
        &:hover::before {
          width: 100%;
          right: unset;
          left: 0;
        }
      }
    }
  }
}

/* PRODUCTS FEATURED HOME */

.manjon-product-featured {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  position: relative;
  display: grid;
  gap: 1rem;
  align-items: center;
  grid-template-columns: repeat(4, 1fr);

  @media (min-width: 768px) {
    grid-template-columns: repeat(8, 1fr);
    grid-auto-rows: auto;
  }

  &-title {
    color: #666;
    font-size: 7rem;
    margin: 0;
    grid-column: 1 / 6;
    @media (min-width: 768px) {
      grid-row: 2 / 2;
      align-self: flex-end;
    }

   

    @media (min-width: 1280px) {
      font-size: 12rem;
      line-height: 124px;
    }
  }

  &__picture {
    width: 100%;
    height: 100%;
    grid-column: 1 / 6;
    grid-row: 2 / 2;
    aspect-ratio: 4 / 5;

    @media (min-width: 768px) {
      grid-column: 5/9;
      grid-row: 1 / 3;
    }



    &-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__category {
    display: flex;
    flex-direction: column;
    gap: .75rem;
    grid-column: 1 / 6;
    grid-row: 3 / 3;

    @media (min-width: 768px) {
      grid-column: 1 / 5;
      grid-row: 1 / 1;
    }

    @media (min-width: 1024px) {
      grid-column: 1 / 3;
      align-self: flex-start;
    }

    &-title {
      font-family: 'Recline Bold';
      font-size: calc(42px + 10 * (100vw - 320px) / 1120);
      letter-spacing: -0.05em;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      text-transform: uppercase;
      color: #1b1b1b;
      text-transform: uppercase;
    }
    &-text {
      font-size: calc(12px + 1 * (100vw - 320px)/ 1120);
      line-height: 1.5;
      letter-spacing: .01em;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-weight: 400;
      color: #1b1b1b;
    }

    &-link {
      width: fit-content;
      position: relative;
      font-family: 'Recline Regular';
      font-size: small;
      color: #818f96;
      text-decoration: none;
      &::before {
        content: "";
        width: 100%;
        height: 1px;
        position: absolute;
        bottom: -3px;
        right: 0;
        background-color: #818f96;
        @media (min-width: 1024px) {
          width: 0%;
          transition: all ease-in-out 0.25s;
        }
      }

      @media (min-width: 1024px) {
        &:hover::before {
          width: 100%;
          right: unset;
          left: 0;
        }
      }
    }

  }
}

.uppercase {
  text-transform: uppercase;
  line-height: 100%;
}

/* PRODUCTS WRAPPER HOME */

.manjon-wrapper-products {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-auto-rows: auto;
  }

  
  &__primary {
    @media (min-width: 768px) {
      grid-column: 1 / 4;
      grid-row: 1 / 1;
      align-self: flex-start;
    }

    &__content {
      display: flex;
      flex-direction: column;
      gap: .75rem;
    }

    &-title {
      font-family: 'Recline Bold';
      font-size: calc(42px + 10 * (100vw - 320px) / 1120);
      letter-spacing: -0.05em;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      text-transform: uppercase;
      color: #1b1b1b;
      text-transform: uppercase;
    }
    &-text {
      font-size: calc(12px + 1 * (100vw - 320px)/ 1120);
      line-height: 1.5;
      letter-spacing: .01em;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-weight: 400;
      color: #1b1b1b;
    }

    &-link {
      width: fit-content;
      position: relative;
      font-family: 'Recline Regular';
      font-size: small;
      color: #818f96;
      text-decoration: none;
      &::before {
        content: "";
        width: 100%;
        height: 1px;
        position: absolute;
        bottom: -3px;
        right: 0;
        background-color: #818f96;
        @media (min-width: 1024px) {
          width: 0%;
          transition: all ease-in-out 0.25s;
        }
      }

      @media (min-width: 1024px) {
        &:hover::before {
          width: 100%;
          right: unset;
          left: 0;
        }
      }
    }
  }

  &__picture {
    width: 100%;
    height: auto;
    
    @media (min-width: 768px) {
      grid-column: 5 / 9;
      grid-row: 1 / 6;
      position: sticky;
      top: 5px;
      align-self: flex-start;
    }

    &-img {
      width: 100%;
      height: auto;
      object-fit: cover;
      object-position: center;
    }
  }

  &__secondary {
    @media (min-width: 768px) {
      grid-column: 1 / 5;
      grid-row: 4 / 4;
      align-self: flex-end;
    }

    @media (min-width: 1024px) {
      grid-column: 1 / 4;
      grid-row: 5 / 5;
    }

    &__picture {
      width: 100%;
      height: 100%;
      aspect-ratio: 16 / 9;
      position: relative;
      
      &-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        background-image: linear-gradient(128.07deg, #fbfbfb 12.08%, #dedad3 87.51%);
      }
    }

    &__tag {
      width: fit-content;
      height: max-content;
      position: absolute;
      left: 10px;
      margin-top: 10px;
      font-size: 14px;
      color: #303030;
      letter-spacing: .05em;
      line-height: 1.5;
      text-transform: uppercase;
    }

    &__content {
      display: flex;
      flex-direction: column;
      gap: .75rem;
      padding: 8px 4px;
    }

    &-title {
      font-family: 'Recline SemiBold';
      font-size: calc(16px + 1 * (100vw - 320px)/ 1120);
      line-height: 1.6;
      letter-spacing: 1px;
      color: #1b1b1b;
    }

    &-text {
      font-size: calc(12px + 1 * (100vw - 320px)/ 1120);
      line-height: 1.5;
      letter-spacing: .01em;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-weight: 400;
      color: #1b1b1b;

      @media (min-width: 768px) {
        max-width: 40ch;
        line-height: 1.25;
      }
    }

    &-link {
      width: fit-content;
      position: relative;
      font-family: 'Recline Regular';
      font-size: small;
      color: #818f96;
      text-decoration: none;
      &::before {
        content: "";
        width: 100%;
        height: 1px;
        position: absolute;
        bottom: -3px;
        right: 0;
        background-color: #818f96;
        @media (min-width: 1024px) {
          width: 0%;
          transition: all ease-in-out 0.25s;
        }
      }

      @media (min-width: 1024px) {
        &:hover::before {
          width: 100%;
          right: unset;
          left: 0;
        }
      }
    }
  }
}


.manjon-slider-products {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  &__information {
    &-title {
      font-size: 50px;
      line-height: 1;
      color: #1b1b1b;
    }
    &__selected {
      position: relative;
      &__wrapper {
        display: flex;
        align-items: center;
        gap: .25rem;
      }
      &-button {
        font-family: "Recline Bold" !important;
        border: none;
        background-color: transparent;
        outline: none;
        font-size: 50px;
        line-height: 1;
        font-weight: bold;
        cursor: pointer;
        text-decoration: underline;
        color: #1b1b1b;

      }
      &-list {
        width: 400px;
        max-width: 100%;
        z-index: 43;
        height: max-content;
        background-color: #FFF;
        border: 1px solid #EEE;
        display: flex;
        flex-direction: column;
        gap: .25rem;
        position: absolute;
        top: 50px;
        left: 0;
        border-radius: 4px;
        padding: .5rem !important;

        animation-name: collapseAnimation;
        animation-duration: .25s;
        animation-fill-mode: forwards;

        &-item {
          width: 100%;
          padding: 10px 0;
          font-family: "Recline Bold" !important;
          font-weight: bold;
          font-size: 26px;
          line-height: 1.1;
          text-transform: uppercase;
          padding: 10px;
          border-radius: 4px;
          cursor: pointer;

          &:hover {
            color: #303030;
            background: #f9f9f9;
          }

          &[aria-selected=true] {
            color: #303030;
            background: #efedea;
          }

        }

        &.show {
          animation-name: expandAnimation;
          animation-duration: 0.25s;
          animation-fill-mode: forwards;
        }
      }
    }
  }

  ul {
    padding: 0;

    & li {
      list-style: none;
      font-family: 'Public Sans';
    }
  }

  button {
    font-family: 'Public Sans';
  }
}


/* COLLECTIONS GRID */

.manjon-collections-grid  {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  &-title {
    font-size: calc(42px + 10 * (100vw - 320px)/ 1120);
    letter-spacing: -.05em;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-transform: uppercase;
    font-weight: 500;
    color: #303030;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    @media (min-width: 900px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__collection {
    width: 100%;
    height: auto;
    position: relative;

    &-picture {
      width: 100%;
      height: auto;

      &-img {
        width: 100%;
        height: auto;
      }
    }

    &-title {
      position: absolute;
      bottom: 30px;
      left: 20px;

      & span {
        display: block;
        font-family: "Recline Medium" !important;
        font-size: calc(42px + 10 * (100vw - 320px)/ 1120);
        letter-spacing: -.05em;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-transform: uppercase;
        font-weight: 600;
        color: #FFF;
      }
    }
  }
}

/* CATEGORIES GRID */
.manjon-categories  {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  &-title {
    font-size: calc(42px + 10 * (100vw - 320px)/ 1120);
    letter-spacing: -.05em;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-transform: uppercase;
    font-weight: 500;
    color: #303030;
  }

  &__wrapper {
    width: 100%;
    height: max-conetnt;
    display: grid;
    gap: 1rem;

    @media (min-width: 768px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__item {
    width: 100%;
    height: auto;

    &-picture {
      width: 100%;
      height: auto;

      &-img {
        width: 100%;
        height: auto;
        object-fit: cover;
        object-position: center center;
      }
    }

    &__content {
      display: flex;
      flex-direction: column;
      gap: .5rem;
      padding: 8px 4px;
    }

    &-title {
      font-family: 'Recline SemiBold';
      font-size: calc(16px + 1 * (100vw - 320px)/ 1120);
      line-height: 1.6;
      letter-spacing: 1px;
      color: #1b1b1b;
    }

    &-text {
      font-size: calc(12px + 1 * (100vw - 320px)/ 1120);
      line-height: 1.5;
      letter-spacing: .01em;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-weight: 400;
      color: #1b1b1b;

      @media (min-width: 768px) {
        max-width: 40ch;
        line-height: 1.25;
      }
    }

    &-link {
      width: fit-content;
      letter-spacing: 2px;
      position: relative;
      font-family: 'Recline Regular';
      font-size: small;
      color: #818f96;
      text-decoration: none;
      &::before {
        content: "";
        width: 100%;
        height: 1px;
        position: absolute;
        bottom: -3px;
        right: 0;
        background-color: #818f96;
        @media (min-width: 1024px) {
          width: 0%;
          transition: all ease-in-out 0.25s;
        }
      }

      @media (min-width: 1024px) {
        &:hover::before {
          width: 100%;
          right: unset;
          left: 0;
        }
      }
    }

  }
}