:root {
  --night-out: #000000;
  --off-white: #fafcfb;
  --lil-gray: #e6eaed;
  --nude: #eae9e8;
  --gray: #cacabe;
  --blue: #818f96;
  --sky: #cce6ed;
}

body {
  max-width: 1280px;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  background-color: #fafcfb;
}

.manjon-container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
}
@media (min-width: 900px) {
  .manjon-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 10px;
  }
}
.manjon-container__information {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (min-width: 900px) {
  .manjon-container__information {
    font-size: 24px;
  }
}
.manjon-container-subtitle {
  margin: 0;
  font-weight: 700;
  font-size: 1rem;
  line-height: 30px;
}
.manjon-container-title {
  margin: 0;
  font-weight: bold;
  font-size: 32px;
  line-height: 120%;
  color: #818f96;
}
@media (min-width: 900px) {
  .manjon-container-title {
    font-size: 40px;
  }
}
.manjon-container-text {
  margin: 0;
  font-weight: 400;
  font-size: 1rem;
  line-height: 150%;
  color: #cacabe;
}
.manjon-container__wrapper {
  display: flex;
  flex-flow: row wrap;
  gap: 24px;
  margin: 24px 0;
}
@media (min-width: 768px) {
  .manjon-container__block {
    max-width: 296px;
  }
}
.manjon-container__block-title {
  margin: 0;
  font-weight: bold;
  font-size: 18px;
  line-height: 140%;
  color: #818f96;
}
@media (min-width: 900px) {
  .manjon-container__block-title {
    font-size: 20px;
  }
}
.manjon-container__block-text {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #cacabe;
}
.manjon-container__picture {
  width: 100%;
  height: 100%;
}
.manjon-container__picture-img {
  width: 100%;
  height: 100%;
}

.btn {
  --btn-border-color: transparent;
  --btn-text-color: rgb(86, 86, 86);
  --btn-bg: transparent;
  display: inline-block;
  text-decoration: none;
  padding: 12px 24px;
  border: 1px solid var(--btn-border-color);
  background-color: var(--btn-bg);
  font-weight: 400;
  color: var(--btn-text-color);
  transition: ease-in-out 0.25s;
}
.btn--primary {
  --btn-border-color: #818f96;
  --btn-text-color: white;
  --btn-bg: #818f96;
}
.btn--primary:hover {
  --btn-border-color: #cacabe;
  --btn-bg: #cacabe;
  --btn-text-color: #fafcfb;
}
.btn--primary-outline {
  --btn-border-color: black;
  --btn-bg: white;
  --btn-text-color: black;
}
.btn--primary-outline:hover {
  --btn-border-color: #cacabe;
  --btn-bg: transparent;
  --btn-text-color: #cacabe;
}
.btn--ghost {
  --btn-border-color: transparent;
  --btn-text-color: black;
  --btn-bg: transparent;
}
.btn--ghost:hover {
  --btn-text-color: #cacabe;
}

.manjon-container-tabs {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  position: relative;
  overflow-x: hidden;
}
@media (min-width: 900px) {
  .manjon-container-tabs {
    display: grid;
    grid-template-areas: "tabs images";
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1rem;
  }
}
@media (min-width: 900px) {
  .manjon-container-tabs--reverse {
    grid-template-areas: "images tabs";
  }
}
.manjon-container-tabs__blocks {
  display: flex;
  flex-direction: column;
  grid-area: tabs;
  gap: 24px;
}
.manjon-container-tabs__blocks-item {
  --tab-item-height: 0%;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  position: relative;
  padding: 0 2rem;
}
.manjon-container-tabs__blocks-item:hover {
  cursor: pointer;
}
.manjon-container-tabs__blocks-item::before {
  content: "";
  width: 4px;
  height: var(--tab-item-height);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  background-color: #cce6ed;
  transition: ease-in-out 0.25s;
}
.manjon-container-tabs__blocks-item:hover::before {
  height: 100%;
}
.manjon-container-tabs__blocks-item--show {
  --tab-item-height: 100%;
}
.manjon-container-tabs__blocks-item-title {
  margin: 0;
  font-weight: bold;
  font-size: 24px;
  line-height: 140%;
  color: #818f96;
}
@media (min-width: 900px) {
  .manjon-container-tabs__blocks-item-title {
    font-size: 32px;
    line-height: 130%;
  }
}
.manjon-container-tabs__blocks-item-text {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #cacabe;
}
.manjon-container-tabs__pictures {
  grid-area: images;
  position: relative;
  overflow: hidden;
  height: 100%;
  padding-top: 1.25rem;
}
@media (min-width: 900px) {
  .manjon-container-tabs__pictures {
    padding-top: 0;
  }
}
.manjon-container-tabs__pictures-img {
  width: 100%;
  height: 0;
  opacity: 0;
  transition: opacity ease-in-out 0.5s;
}
.manjon-container-tabs__pictures-img--show {
  opacity: 1;
  height: 100%;
}

.manjon-grid-collections {
  max-width: 1440px;
  height: -moz-max-content;
  height: max-content;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0 auto;
  padding: 1rem;
  overflow: hidden;
}
@media (min-width: 600px) {
  .manjon-grid-collections {
    max-height: 60dvh;
    height: 600px;
    display: grid;
    grid-template-areas: "first secondary" "first terciary";
  }
}
.manjon-grid-collections__card {
  width: 100%;
  min-height: 100%;
  display: block;
  position: relative;
  overflow: hidden;
  grid-area: secondary;
}
.manjon-grid-collections__card:hover > .manjon-grid-collections__card-img {
  animation: animateAmbient 30s linear infinite;
}
@media (min-width: 1024px) {
  .manjon-grid-collections__card:hover > .manjon-grid-collections__card__content {
    opacity: 1;
  }
}
.manjon-grid-collections__card:first-child {
  grid-area: first;
}
.manjon-grid-collections__card:last-child {
  grid-area: terciary;
}
.manjon-grid-collections__card-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  aspect-ratio: 4/3;
  transition: ease-in-out 0.25s;
}
.manjon-grid-collections__card__content {
  width: 100%;
  overflow: hidden;
  display: flex;
  position: absolute;
  bottom: 0px;
  left: 0;
  padding: 0.4rem 0;
  z-index: 2;
  background: rgb(202, 202, 190);
  background: linear-gradient(103deg, rgba(202, 202, 190, 0.5) 12%, rgba(129, 143, 150, 0.5) 100%);
  transition: ease-in-out 0.5s;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
}
@media (min-width: 1024px) {
  .manjon-grid-collections__card__content {
    opacity: 0;
  }
}
.manjon-grid-collections__card-title {
  margin: 0;
  line-height: 200%;
  font-size: 1.5rem;
  margin-left: 1rem;
  color: #fafcfb;
}

@keyframes animateAmbient {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(2);
  }
}/*# sourceMappingURL=app.css.map */