{%- style -%}
  :root {
    --night-out: #000000;
    --off-white: #fafcfb;
    --lil-gray: #e6eaed;
    --nude: #eae9e8;
    --gray: #cacabe;
    --blue: #818f96;
    --sky: #cce6ed;
  }
  .manjon-cta-container {
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    gap: 48px;
    margin: 0 auto;
    padding: 1rem;
    position: relative;
  }
  @media (min-width: 768px) {
    .manjon-cta-container {
      gap: 80px;
    }
  }
  .manjon-cta-container__information {
    max-width: 768px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 0 auto;
  }
  @media (min-width: 768px) {
    .manjon-cta-container__information {
      gap: 24px;
    }
  }
  .manjon-cta-container__information-title,
  .manjon-cta-container__information-subtitle,
  .manjon-cta-container__information-text {
    margin: 0;
    text-align: center;
  }
  .manjon-cta-container__information-subtitle {
    font-weight: 600;
    font-size: 1rem;
    line-height: 150%;
    color: #000;
  }
  .manjon-cta-container__information-title {
    font-weight: bold;
    font-size: 36px;
    line-height: 120%;
    color: var(--blue);
  }
  @media (min-width: 768px) {
    .manjon-cta-container__information-title {
      font-size: 48px;
    }
  }
  .manjon-cta-container__information-text {
    font-weight: 400;
    font-size: 1rem;
    line-height: 150%;
    color: var(--gray);
  }
  @media (min-width: 768px) {
    .manjon-cta-container__information-text {
      font-size: 18px;
    }
  }
  .manjon-cta-container__wrapper {
    display: grid;
    gap: 24px;
  }
  @media (min-width: 768px) {
    .manjon-cta-container__wrapper {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  .manjon-cta-container__block {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .manjon-cta-container__block-title,
  .manjon-cta-container__block-text {
    margin: 0;
    text-align: center;
  }
  .manjon-cta-container__block-title {
    font-weight: bold;
    font-size: 24px;
    line-height: 140%;
    color: var(--blue);
  }
  @media (min-width: 768px) {
    .manjon-cta-container__block-title {
      font-size: 32px;
      line-height: 130%;
    }
  }
  .manjon-cta-container__block-text {
    font-weight: 400;
    font-size: 1rem;
    line-height: 150%;
    color: var(--gray);
  }
{%- endstyle -%}
<div class="manjon-cta-container">
  <div class="manjon-cta-container__information">
    <h3 class="manjon-cta-container__information-title">
      {{ section.settings.title }}
    </h3>
    <p class="manjon-cta-container__information-text">
      {{ section.settings.text }}
    </p>
  </div>
  <div class="manjon-cta-container__wrapper">
    {% for block in section.blocks limit: 3 %}
      <div class="manjon-cta-container__block">
        <h3 class="manjon-cta-container__block-title">
          {{ block.settings.block_title }}
        </h3>
        <p class="manjon-cta-container__block-text">
          {{ block.settings.block_text }}
        </p>
      </div>
    {% endfor %}
  </div>
</div>
{% schema %}
{
  "name": "UI CTA container",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Our Commitment to Quality and Customer Satisfaction"
    },
    {
      "type": "text",
      "id": "text",
      "label": "Text",
      "default": "At Lorelei, we take pride in using the highest quality ingredients in our luxury creams. Our products are carefully crafted to provide effective results without any harmful effects. With Lorelei, you can indulge in skincare that truly cares for your skin."
    }
  ],
  "blocks": [
    {
      "name": "item",
      "type": "cards",
      "settings": [
        {
          "type": "text",
          "id": "block_title",
          "label": "Block Title",
          "default": "Sustainable Practices for a Better Future"
        },
        {
          "type": "text",
          "id": "block_text",
          "label": "Block Text",
          "default": "We are committed to sustainable practices, ensuring that our production processes have minimal impact on the environment. From sourcing ingredients responsibly to eco-friendly packaging, we strive to make a positive difference."
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "UI CTA container"
    }
  ]
}
{% endschema %}
